<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Courses</title>
  </head>
  <body>
    <form action="/add_course" method="POST">
      {% csrf_token %}
      Name: <input type="text" name="html_course_name" value=""><br><br>
      Description: <input type="textarea" rows=20 cols=40 name="html_description" value=""><br><br>
      <input type="submit" name="submit" value="Add">
    </form>

    <table>
      <thead>
        <th>Course name</th>
        <th>Description</th>
        <th>Date Added</th>
        <th>Actions</th>
      </thead>
      {% if courses %}
      {% for course in courses %}
      <tr>
        <td>{{course.course_name}}</td>
        <td>{{course.description}}</td>
        <td>{{course.date_added}}</td>
        <td><a href="/remove/{{course.id}}">remove</a>
    {% endfor %}
    {% endif %}
  </body>
</html>
