<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Wall</title>
  </head>
  <body>
    <h1>Welcome to THE WALL!</h1>
    <h2>Login</h2>
    <form class="" action="/login" method="POST">
      Email:<input type="text" name="html_email" value=""><br>
      Password<input type="password" name="html_pass" value=""><br>
      <input type="submit" name="submit" value="Login">
    </form>
    <br>
    <hr>
    <br>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    {% for message in messages %}
    <p>{{message}}</p>
    {% endfor %}
    {% endif %}
    {% endwith %}
    <hr>
    <br>
    <h2>Register</h2>
    <form action="/register" method="POST">
      First Name: <input type="text" name="html_first" value=""><br>
      Last Name: <input type="text" name="html_last" value=""><br>
      Email: <input type="text" name="html_email" value=""><br>
      Password:<input type="password" name="html_pass" value=""><br>
      Confirm Password <input type="password" name="html_confirm" value=""><br>
      <input type="submit" name="submit" value="Register">
    </form>
  </body>
</html>
