<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Add Song</title>
  </head>
  <body>
    <h1>{{title}}</h1>
    {%for m in messages%}
    <p>{{m}}</p>
    {% endfor%}
    <form action="{% url 'playlist:add_song' playlist_id=playlist.id %}" method="POST">
      {% csrf_token %}
      <label for="song_name">Enter Song Name:</label>
      <input type="text" name="song_name" value="">
      <input type="submit" name="submit" value="Add">
    </form>
    <hr>
    <table>
      <tr>
        <th>Song Name</th>
        <th>Play Count</th>
        <th>Date Created</th>
      </tr>
      {% for p in playlists%}
      <tr>
        <td>{{s.title}}</td>
        <td>Song Count</td>
        <td>{{s.created_at}}</td>
      </tr>
      {% endfor %}
    </table>
  </body>
</html>
